mat-grid-tile {
  background: lightblue;

}


.example-card {
  max-width: 400px;
  margin: 5% 0 5% 0;
  background-color: #121212;
  color: white;
}
.c {
  &-white{
    color: white!important;
  }
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.main{
  display: flex;
  align-items: row;
  flex-wrap: wrap;
  height: 1000px;
  background-color: #282828;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0% 2% 0% 2%;
  & img{
    max-width: 400px;
  }

}

