
.example-card {
  max-width: 600px;
  background-color: #121212;
  color: white;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.post{

 width: 25%;
}
.container{
  background-color: #282828;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  & img{
  max-width: 600px;
  }

}

@media screen and (max-width:425px) and (min-width:376px) {
  .container {
    margin: auto;
    max-width: 405px;
    &-post{
      max-width: 405px;
    }
  }
  .example-card{
    max-width: 405px;
  }
  .mat-card{
    max-width: 405px;
    display: flex;
      align-items: center;
      justify-content: center;
  }
}
@media screen and (max-width:375px) and (min-width:321px) {
  .container {
    margin: auto;
    max-width: 350px!important;
    &-post{
      max-width: 350px!important;
    }
    img{
      max-width: 350px;
    }
  }
  .example-card{
    max-width: 350px!important;
  }
  .mat-card{
    max-width: 355px!important;
    display: flex;
      align-items: center;
      justify-content: center;
  }
}

@media screen and (max-width:320px){
  .container {
    background-color: red;
    margin: auto;
    max-width: 300px!important;
    &-post{
      max-width: 300px!important;
    }
    img{
      max-width: 295px;
    }
  }
  .example-card{
    max-width: 300px!important;
  }
  .mat-card{
    max-width: 300px!important;
    display: flex;
      align-items: center;
      justify-content: center;
  }
}
