img{
  max-width: 400px;
}
.test{
  background-color: #282828;
  color: white;
}

@media screen and (max-width:425px) and (min-width:376px) {

  .test{
    width: 420px!important;

  }
  .container{
    width: 420px!important;
  }
}
@media screen and (max-width:375px) and (min-width:321px) {

  .test{
    width: 400px!important;
  }

}

@media screen and (max-width:320px){

  .test{
    max-width: 425px!important;
  }
}

