img{
  max-width: 400px;
}
// .test{
//   border: 1px solid black;
//   max-width: 300px!important;
// }

@media screen and (max-width:425px) and (min-width:376px) {

  .test{
    width: 420px!important;
  }
  .container{
    width: 420px!important;
  }
}
@media screen and (max-width:375px) and (min-width:321px) {

  .test{
    width: 400px!important;
  }

}

@media screen and (max-width:320px){

  .test{
    max-width: 425px!important;
  }
}

