.mat{
  &-toolbar{
    display: flex;
    justify-content: space-between;
  }
}
.title{
  cursor: pointer;
}
.container-navList{
    font-size: 2rem;
    display: flex;
    width: 30%;
    justify-content: space-around;
  &:hover{
    cursor: pointer;
  }
}

@media screen and (max-width:425px) and (min-width:376px) {

  .mat-toolbar{

    width: 100%;
  }
}
@media screen and (max-width:425px) and (min-width:376px) {

  .mat-toolbar{
    width: 100%;
  }
}
