<base href="https://mydevprojet.fr/evo/accueille">
<app-nav-bar></app-nav-bar>


<div class="container">
  <mat-card class="post">
    <button mat-button (click)="openDialog()">Add a post</button>
  </mat-card>
<div *ngFor="let datas of data">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{this.datas.name}}</mat-card-title>
      <mat-card-subtitle>{{this.datas.last_name}}</mat-card-subtitle>
    </mat-card-header>
    <div *ngIf="this.datas.img">
      <img mat-card-image [src]="this.datas.img" alt="Photo of a Shiba Inu">
    </div>
    <mat-card-content>
      <p>
        {{this.datas.post}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <fa-icon [icon]="faTrash"></fa-icon>
            <span>Delete</span>
          </button>
          <button mat-menu-item>
            <fa-icon [icon]="faComment"></fa-icon>
            <span>Comment</span>
          </button>
      </mat-menu>
    </mat-card-actions>
  </mat-card>
</div>

</div>


