
.example-card {
  max-width: 400px;
  margin: 5% 0 5% 0;

}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.post{
 margin: 5% 0 5% 0;
 width: 25%;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 2% 0 2% 0;
  & img{
    max-width: 400px;
  }
  &-post{
    margin: 2% 0 2% 0;
  }
}
